body{
    overflow-x: hidden;
    font-family: DynaPuff;
    background-color: black;
    
  }


    .navbar{
      /* position: absolute; */
        color: aliceblue;
        background-color: black;
        /* border: 2px solid red; */
        
        height: 4em;
    }
    .navbar-brand{
      font-size: 1.7rem;
    }

    

    .container-fluid{
        align-content: center;
    }
    .nav-link{
      font-size: 1.3rem;
    }

    .nav-link:hover {
        transition: 0.3s;
        /* border-radius: 3px; */
        border-bottom: 0.7px solid #f7f4f7;
        /* box-shadow: 0 2px 7px #f1a3f9; */
        /* letter-spacing: 0.1em; */
        /* border-top: 2px solid #c880c8; */
    }
    .nanv{ 
        width: auto;
        margin-right: auto;
        margin-left: 5%;
        align-content: center; 
    }

    .nanv ul li{
        width: 7em;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }
    .signup{
        border: 2px solid #7debef;
        margin-left: 10%;
        background-color: black;
        width: 12em;
        margin-right: auto;
        color: white;
        padding: 1.3%;
        transition: 0.3s;
        font-size: 1.3em;
        border-radius: 2em;
        height: 2.8em;
        display: inline;
    }

    .signup:hover{
        border: 2px solid #7debef;
        background-color: #7debef;
        color: rgb(6, 6, 6);
        /* font-size: 1.1em; */
        /* letter-spacing: 0.2em; */
        
    }
    
.sup{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    height: auto;
}

/* .imgbg{
    position: absolute;
    height: 80%;
    width: 100%;
} */

.mainbodyimg{
    /* background: linear-gradient(rgba(3, 0, 3, 1), rgba(66, 1, 77, 0.5));  */
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    overflow: hidden;
    height: auto;
    animation: fadeIn 10s;
    animation:fadeInUp 2s ease backwards;
    filter: brightness(19%);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp{
  0%{transform:translate(0px, 400px); opacity: 0;}
  100%{transform:translate(0px, 0px); opacity: 1;}
}

@keyframes fadeInUp2{
  0%{transform:translate(0px, -100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

.typewriter h1 {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 4%;
  font-size: 3.4em;
  background:transparent;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid rgb(233, 230, 224);  */
  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
   /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
    
}

.typewriter{
  background: transparent;
  position:relative;
  padding: 2em;
  /* z-index: 1; */
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(236, 212, 236); }
}

.leftm{
  /* z-index:1; */
  position: relative;
  /* border: 2px solid red; */
  margin-top: 2%;
  background-color: transparent;
  width: 50%;
  padding: 2.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: 
  fadeInUp2 1.5s ease;
}

.leftm h2{
  background-color: transparent;
  color: #f7f4f7;
  
}

.leftm button{
  color: white;
  padding: 1.2em;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 5%;
  width: 20em;
  font-size: 1.4em;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #7debef;
  transition: 0.4s;
  
}

.leftm button:hover{
  color: rgb(9, 9, 9);
  font-size: 1.4em;
  letter-spacing: 0.2em;
  background-color: #7debef;

}

.rightm{
  position: relative;
  margin-top: 0;
  background-color: transparent;
  width: 50%;
  /* border: 2px solid red; */
    animation: 
  fadeInUp2 1.5s ease;
}

.rightm button{
    width: 20em;
    height: auto;
    font-size: 1.4em;
    border: none;
    padding: 1.3em;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    z-index: 0;
    border-radius: 10px;
    top: 70%;
  left: 50%;
  /* background-color: transparent; */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rightm button:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);

    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
    background-color: transparent;
}

.rightm button:active{
  color: #000
}

.rightm button:active:after {
    background: transparent;
}

.rightm button:hover{
  transition: 0.4s;
  color: black;
  letter-spacing: 0.2em;
  border: none;
}
.rightm button:hover:before {
  background-color: transparent;  
    opacity: 1;
}

.rightm button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #7debef;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.middle{
  display: flex;
}

.quote{
  width: 50%;
  padding: 2em;
  background-color: transparent;
  color: white;
  height: auto;
  text-align: center;
  margin-left: 25%;
  position: relative;
  /* border: 2px solid red; */
  margin-top: 5%;
  animation: fadeInUp 1.5s ease;
}
.quote h2{
  color: #CC99CC;
  background-color: transparent;
  transition: 0.4s;
}

.quote h2:hover , .quote h5:hover{
  color: white;
  cursor: pointer;
  /* letter-spacing: 0.1em; */
  transform: scale(1.1);
}
.quote h5{
  color: #CC99CC;
  text-align: center;
  margin-top: 5%;
  background-color: transparent;
  transition: 0.4s;
}

.sign{

  position: absolute;
  top: 7px;
  right: 0;
  margin-right: 2%;

  /* margin-left: 75%; */
}

.al{
  align-items: center;
}




.btn1{
  color: white;
  background-color: transparent;
  border: 2px solid #CC99CC;
  transition: 0.4s;
  width: 50%;
}

.btn1:hover{
  background-color: #7debef;
  letter-spacing: 0.15em;
  border: 2px solid #7debef;
}


.lmid{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}



@media only screen and (max-width: 600px) {
.sign{
position: relative;
top: 7px;
right: 0;
margin-right: 2%;

/* margin-left: 75%; */
}


.middle{
  display: flex;
  margin: 5em;
  flex-direction: column;
}




.navbar{
  /* font-size: 2rem; */
  height: auto;
  
}
.nav-link{
  margin: 0;
  padding: 0;
}
.nav-link:hover{
  border: 1px solid white;
  border-radius: 10px;

}

.typewriter h1 {
  font-size: 1.7em;
}


.rightm{
  margin-top: 15%;
  position: relative;
  align-content: center;
  /* margin-top: 0; */
  background-color: transparent;
  width: 100%;
  /* border: 2px solid red; */
    animation: 
  fadeInUp2 1.5s ease;
}

.rightm button{
    /* width: 20em; */
    height: auto;
    font-size: 1em;
    border: none;
    padding: 1em;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    margin-top: 3em;
    z-index: 0;
    border-radius: 10px;
    /* top: 70%;
  left: 50%; */
  /* background-color: transparent; */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.leftm{
  /* z-index:1; */
  position: relative;
  /* border: 2px solid red; */
  /* margin-top: 2%; */
  background-color: transparent;
  width: 100%;
  padding: 1em;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  animation: 
  fadeInUp2 1.5s ease;
}

.leftm h2{
  background-color: transparent;
  color: #f7f4f7;
  
}

.leftm button{
  color: white;
  padding: 1em;
  font-weight: 400;
  font-size: 1em;
  /* margin-top: 5%; */
  width: 100%;
  font-size: 1.2em;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #7debef;
  transition: 0.4s;
  
}

.quote{
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  padding: 1em;
}

}





